---
export interface Props {
    id?: string;
    class?: string;
}

const { class: className, id, ...rest } = Astro.props;
---

<div id={id} class:list={[className, "appIcon"]} {...rest}></div>

<style>
    .appIcon {
        width: 96px;
        height: 96px;
        background-image: url(/appicon@2x.png);
        background-size: cover;
    }
</style>
