---
import Typography from "./Typography.astro";

interface Props {
    id?: string;
    title: string;
    description: string;
    children?: any;
    icon: "brush" | "chip" | "keyboard" | "mic";
    wide?: boolean;
}

const { icon, id, title, description, wide = false, ...rest } = Astro.props;
---

<article
    id={id}
    class:list={["card", "honey", { "card-wide": wide }]}
    {...rest}
>
    <div class="content-wrapper">
        <span class:list={["card-icon", `_${icon}`]}></span>
        <Typography as="h3" variant="heading-s" color="primary"
            >{title}</Typography
        >
        <Typography variant="text-m" color="quaternary">
            {description}
        </Typography>
    </div>
    <slot />
</article>

<style lang="scss">
    .card {
        position: relative;
        min-height: 176px;
        overflow: hidden;
        padding: 31px 24px 31px;
        border-radius: 16px;
        background: var(--color-stroke);
        display: flex;
        align-items: center;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
    }

    .card-wide {
        grid-column: span 2;
    }

    .card :global(h3) {
        font-size: var(--text-2xl);
        letter-spacing: var(--tracking-wider);
        margin: 0;
    }

    .card :global(p) {
        margin-top: 9px;
        font-size: var(--text-md);
        line-height: 1.28;
        color: var(--color-text-muted);
    }

    .card-icon {
        position: absolute;
        top: 27px;
        left: 23px;
        width: 34px;
        height: 26px;
        background-image: var(--card-icon);

        &._brush {
            --card-icon: url("/icon-brush.svg");
        }
        &._chip {
            --card-icon: url("/icon-chip.svg");
        }
        &._keyboard {
            --card-icon: url("/icon-keyboard.svg");
        }
        &._mic {
            --card-icon: url("/icon-mic.svg");
        }
    }

    @media (max-width: 950px) {
        .card,
        .card-wide {
            grid-column: auto;
        }
    }

    @media (max-width: 630px) {
        .card,
        .card-wide {
            flex-direction: column;
            min-height: unset;

            .content-wrapper {
                margin-top: 44px;
            }
        }
    }
</style>
