---
import Typography from "./Typography.astro";
---

<footer class="footer">
    <Typography as="span" variant="text-s" color="secondary">
        <span>© 2026</span>
        <a href="https://myrt.co">Миша</a>
    </Typography>

    <Typography
        as="a"
        href="https://github.com/Yamumi-app"
        variant="text-s"
        color="secondary">GitHub</Typography
    >
</footer>

<style>
    footer {
        width: min(100% - var(--layout-padding), var(--layout-max));
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 28px 0;
        border-top: 1px solid var(--color-border-subtle);
        color: var(--color-text-tertiary);
        font-size: var(--text-base);
    }

    footer a {
        color: inherit;
    }
</style>
