---
import Typography from "./Typography.astro";
import DownloadButton from "./DownloadButton.astro";
---

<header class="header">
    <Typography
        variant="heading-xs"
        color="primary"
        class="brand"
        as="a"
        href="#top">Yamumi</Typography
    >
    <nav class="nav" aria-label="Основная навигация">
        <Typography class="links" as="div" variant="text-s" color="tertiary">
            <a href="#overview">Обзор</a>
            <a href="#minimalism">Изменения</a>
        </Typography>
        <DownloadButton size="s" />
    </nav>

    <style>
        .header {
            width: min(100% - var(--layout-padding), var(--layout-max));
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;
        }

        .brand {
            text-decoration: none;
        }

        .links a {
            text-decoration: none;
            color: inherit;
        }

        .links,
        nav {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    </style>
</header>
