---
import AppIcon from "../components/AppIcon.astro";
import Typography from "../components/Typography.astro";
import DownloadButton from "../components/DownloadButton.astro";
---

<section class="cta" aria-labelledby="cta-title">
    <AppIcon />
    <Typography class="title" as="h2" variant="heading-s" color="primary">
        Бесплатно, без подписки, без сбора ваших данных.
    </Typography>
    <DownloadButton size="m" />
</section>

<style>
    .cta {
        width: 100%;
        padding: 86px 20px 124px;
        border-top: 1px solid var(--color-stroke);
        border-bottom: 1px solid var(--color-stroke);
        background: var(--color-background-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title {
        margin-top: 68px;
        margin-bottom: 33px;
    }
</style>
