---
import Typography from "../components/Typography.astro";
import Question from "../components/Question.astro";
---

<section class="faq" aria-labelledby="faq-title">
    <Typography
        as="h2"
        class="heading honey"
        data-expose="true"
        variant="heading-m"
        color="primary">FAQ</Typography
    >
    <div class="questions">
        <Question class="honey" title="Это безопасно?">
            За исключением запроса на проверку обновления, все остальные
            отправляются только на сервера Яндекса. Никакие пользовательские
            данные не собираются и не передаются. Используемые запросы Яндекс
            Музыки можно посмотреть <a
                href="https://github.com/Yamumi-app/YandexMusic"
                >в репозитории</a
            >.
        </Question>
        <Question
            class="honey"
            title="Зачем приложению столько разрешений при авторизации?"
        >
            Для авторизации Yamumi использует идентификатор официального
            приложения Яндекс Музыки. Несмотря на запрашиваемых список,
            приложение не умеет управлять вашей подпиской и покупать билеты на
            концерты.
        </Question>
        <Question
            class="honey"
            data-continue="true"
            data-hold="150"
            title="Можно ли пользовать без подписки Яндекса?"
        >
            Нет. Yamumi использует тот же API, что и официальные клиенты,
            а значит без подписки не сможет получить полные версии треков
            и тексты песен.
        </Question>
        <Question
            class="honey"
            data-continue="true"
            data-hold="150"
            title="Почему бесплатно?"
        >
            Это приложение делалось для решение своей проблемы и изначально
            не задумано для заработка. Я не думаю что в России сработает
            практика продавать софт, который для работы требует оплату подписки
            от сервиса. Если вам нравится приложения и вы очень хотите дать
            мне деньги, то можете поучаствовать в сборе на <a
                href="https://yoomoney.ru/fundraise/1HUJDQO9NCP.260523"
                >Apple Developer Certificate</a
            >.
        </Question>
    </div>
</section>

<style>
    .faq {
        width: min(100% - calc(var(--layout-padding) * 2), var(--layout-max));
        margin: 0 auto;
        padding: 114px 0 128px;
        text-align: center;
    }

    .faq .heading {
        letter-spacing: 6%;
    }

    .questions {
        max-width: 485px;
        margin: 65px auto 0;
        display: flex;
        flex-direction: column;
        gap: 46px;
        text-align: start;
    }

    a,
    a:visited {
        color: inherit;
    }

    a:hover {
        color: var(--color-text-primary);
    }
</style>
