:root {
    --color-background: #11100f;
    --color-background-backdrop: rgba(14, 14, 13, 0.55);
    --color-background-secondary: rgb(255, 255, 255, 0.01);
    --color-text-primary: rgba(255, 255, 255, 0.98);
    --color-text-secondary: rgba(255, 255, 255, 0.9);
    --color-text-tertiary: rgba(255, 255, 255, 0.8);
    --color-text-quaternary: rgba(255, 255, 255, 0.5);
    --color-stroke: rgba(255, 255, 255, 0.05);
}
